<section class="restore">
  <div class="header">
    <h3>Recupera tu cuenta</h3>
  </div>

  <div class="body">
    <form #form="ngForm">
      <div class="user_name">
        <h3>Ingresa tu correo electrónico o número de celular para buscar tu cuenta.</h3>
      </div>

      <div class="email_password">
        <input type="text" placeholder="Correo electrónico o Número de celular" name="email" ngModel>
      </div>

      <button type="submi" class="submi-button" [mat-dialog-close]="form.value">Cancelar</button>
      <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Buscar</button>
    </form>
  </div>
</section>
